:root {
  --color-blue: rgb(3 114 197);
  --color-darkblue: rgb(0 61 138);
  --color-brown: rgb(94 60 38);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--color-blue);

  font-family: Arial, sans-serif;
  color: var(--color-darkblue);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Rubik Distressed", sans-serif;
  font-weight: 400;
}

h2 {
  font-variant: small-caps;
}

header {
  position: relative;
  height: 400px;

  background-image: url("/images/banner.png");
  background-size: cover;
  background-position: center center;

  &::after {
    content: "";

    position: absolute;
    inset: 0;

    background: linear-gradient(
      to bottom,
      rgba(94, 60, 38, 0.2),
      rgba(0, 0, 0, 0.4)
    );
  }

  h1 {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    translate: -50%;
    z-index: 10;

    color: white;
    font-size: 2rem;
    text-align: center;

    border-top: 1px solid white;
    border-bottom: 1px solid white;
    padding: 0.5rem 0;
  }

  @media screen and (width >= 750px) {
    h1 {
      font-size: 3rem;
    }
  }
}

main {
  background-color: white;
  box-shadow: 2px 2px 1px var(--color-darkblue);

  counter-reset: --headings;

  section {
    padding: 1rem;

    &:nth-child(even) {
      background-color: #e5ebf3;
    }
  }

  section:not(:first-of-type):not(:last-of-type) h2 {
    counter-increment: --headings;

    &::before {
      content: counter(--headings) ". ";
    }
  }

  @media screen and (width >= 750px) {
    width: 80vw;
    margin: auto;
  }
}
